.footer-links {
    background: #e5e5e5;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
}
.medium-3.columns {
    width: 25%;
    padding-left: 0.9%;
    padding-right: 0.9%;
}
.footer-links ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    color: #333333;
}
.footer-links ul li.title {
    font-size: 0.875rem;
    color: #000000;
    font-weight: 600;
    padding-bottom: 6px;
}
.footer-links ul li a {
    color: #666666;
    text-decoration: none;
}
