<!-- {{toysList | json}} -->
<div class="wrapper">
  <h3>Featured Products</h3>
  <div class="row">
    <div class="col" *ngFor="let featuredToy of toysList | slice:0:4; let i=index">
      <div class="item-content">
        <div class="item-images">
          <a class="product-image" href="#">
            <img id="product-collection-image-{{i}}" class="item-image" alt="{{featuredToy.toyTitle}}" src="{{featuredToy.imageUrl}}">
          </a>
        </div>
        <div class="item-info">
          <h6 class="item-title">
            <a href="#" class="truncate"><span>{{featuredToy.toyTitle}}</span></a>
          </h6>
          <div class="price-box">
            <p>
              <span class="price-label">Price:</span>
              <span class="price">
                ₹{{featuredToy.price}} </span>
            </p>
          </div>
          <a href="#" title="{{featuredToy.toyTitle}}" class="quickview-button button">Quick View</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let featuredToy of toysList | slice:4:8; let i=index">
      <div class="item-content">
        <div class="item-images">
          <a class="product-image" href="#">
            <img id="product-collection-image-{{i}}" class="item-image" alt="{{featuredToy.toyTitle}}" src="{{featuredToy.imageUrl}}">
          </a>
        </div>
        <div class="item-info">
          <h6 class="item-title">
            <a href="#" class="truncate"><span>{{featuredToy.toyTitle}}</span></a>
          </h6>
          <div class="price-box">
            <p>
              <span class="price-label">Price:</span>
              <span class="price">
                ₹{{featuredToy.price}} </span>
            </p>
          </div>
          <a href="#" title="{{featuredToy.toyTitle}}" class="quickview-button button">Quick View</a>
        </div>
      </div>
    </div>
  </div>
</div>