{{loginForm.value | json}}
<div class="mx-auto login-form">
<form [formGroup]="loginForm">
    <div class="form-group">
      <label for="loginEmail1">Email address</label>
      <input type="email" class="form-control" id="loginEmail1" formControlName="emailId" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <span class="text-danger" *ngIf="emailId.invalid && emailId.touched">Enter valid Email</span>
    </div>
    <div class="form-group">
      <label for="loginPassword1">Password</label>
      <input type="password" class="form-control" id="loginPassword1" formControlName="password" placeholder="Password">
      <span class="text-danger" *ngIf="password.invalid && password.touched">Enter password correctly</span>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>