<div class="row footer-links hide-for-small-only">
											<div class="medium-3 columns">
				<ul>
      <li class="title">ToyCart</li>
      <li><a href="https://www.toycart.com/about-toycart">About Us</a></li>
      <li><a href="http://blog.toycart.com" target="_blank">Blog</a></li>
</ul>
			
						</div>
							<div class="medium-3 columns">
				<!--<ul>
      <li class="title">Customer Service</li>
      <li><a href="#">FAQ</a></li>
      <li><a href="https://www.toycart.com/sales/guest/form/">Orders &amp; Returns</a></li>
      <li><a href="#">Shipping Rates &amp; Policies</a></li>
      <li><a href="#">International Shipping</a></li>
      <li><a href="https://www.toycart.com/contacts">Contact Us</a></li>
</ul>-->
<ul>
      <li class="title">Policy Info</li>
      <li><a href="https://www.toycart.com/privacy-policy">Privacy Policy</a></li>
      <li><a href="https://www.toycart.com/terms-and-conditions">Terms &amp; Conditions</a></li>
      <li><a href="https://www.toycart.com/disclaimer">Disclaimer</a></li>
      <li><a href="https://www.toycart.com/intellectual-property-rights">Intellectual Property Rights</a></li>
      <li><a href="https://www.toycart.com/shipping-policy">Shipping Policy</a></li>
       <li><a href="https://www.toycart.com/payments-and-logistics">Payments &amp; Logistics</a></li>
       <li><a href="https://www.toycart.com/return-policy">Returns</a></li>
</ul>
			
						</div>
							<div class="medium-3 columns">
				<!--<ul>
      <li class="title">Your Account</li>
      <li><a href="https://www.toycart.com/sales/order/history">Your Orders</a></li>
      <li><a href="https://www.toycart.com/wishlist">Your Wishlist</a></li>
      <li><a href="#">Payment Methods</a></li>
      <li><a href="#">Newsletter</a></li>
</ul>-->
<ul>
      <li class="title">Help</li>
      <li><a href="https://www.toycart.com/contacts">Contact Us</a></li>
      <li><a href="http://track.toycart.com/" target="_blank">Track Your Order</a></li>
</ul>
			
						</div>
							<div class="medium-3 columns">
				<ul>
      <li class="title">Contact Us</li>
      <li class="icon-mapmarker">E-52, Phase 8 Industrial Area, Mohali - 160071</li>
      <li class="icon-phone">1800-137-3727</li>
      <li class="icon-email-2"><p>cs@toycart.com</p></li>
</ul>
			
						</div>
					</div>