<nav _ngcontent-c12="" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a _ngcontent-c12="" class="navbar-brand" href="#"><img class="logo" src="https://www.toycart.com/skin/frontend/intenso/default/images/dotcomlogo.png"></a>
    <button _ngcontent-c12="" class="navbar-toggler" type="button">
        <span _ngcontent-c12="" class="navbar-toggler-icon"></span>
    </button>
    <div _ngcontent-c12="" class="collapse navbar-collapse">
        <ul _ngcontent-c12="" class="navbar-nav mr-auto">
            <li _ngcontent-c12="" class="nav-item active"><a _ngcontent-c12="" class="nav-link" href="#">Home <span _ngcontent-c12="" class="sr-only">(current)</span></a></li>
            <li _ngcontent-c12="" class="nav-item"><a _ngcontent-c12="" class="nav-link" href="#">Link</a></li>
            <li _ngcontent-c12="" class="nav-item"><a _ngcontent-c12="" class="nav-link disabled" href="#">Disabled</a></li>
        </ul>
        <form _ngcontent-c12="" class="form-inline my-2 my-lg-0"><input _ngcontent-c12="" class="form-control mr-sm-2" aria-label="Search" placeholder="Search" type="text"><button _ngcontent-c12="" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></form>
    </div>
</nav>